.advantage {
    display: grid;
    box-sizing: border-box;
    grid-template-areas:
      "img type"
      "img name"
      "description description";
    grid-template-columns: 56px 1fr;
    grid-template-rows: 25px 27px 1fr;
    column-gap: 20px;
    width: 540px;
    min-height: 197px;
    margin: 0;
    padding: 20px;
  }
  
  .advantage__img {
    grid-area: img;
  }
  
  .advantage__type {
    grid-area: type;
    display: inline-block;
    width: fit-content;
    box-sizing: content-box;
    padding: 0px 10px 0px 10px;
    color: #fff;
    font-size: 14px;
  }
  
  .advantage__name {
    grid-area: name;
    font-weight: 700;
  }
  
  .advantage__description {
    grid-area: description;
    padding: 20px 0px 0px 0px;
    margin: 0px;
  }
  